
<h3 align="center">{{title}}</h3>

<form class="desk-form" [formGroup]="form" (ngSubmit)="saveDeskData()">

  <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please Enter ID">
    <mat-label>Employee ID</mat-label>
    <input matInput formControlName="employee_id" >
</mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please select Building">
    <mat-label>Building</mat-label>
    <mat-select type="building_name" placeholder="Building" formControlName="building_name">
      <mat-option *ngFor="let buildingOption of buildingOptions" [value]="buildingOption">
        {{buildingOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill"  matTooltip="Please select Floor ID">
    <mat-label> Floor Id</mat-label>
    <mat-select type="floor_id" placeholder="Floor Id" formControlName="floor_id">
      <mat-option *ngFor="let floorIdOption of floorIdOptions" [value]="floorIdOption" [disabled]="building_name.invalid">
        {{floorIdOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please select Floor">
    <mat-label>Floor</mat-label>
    <mat-select type="floor_name" placeholder="Floor" formControlName="floor_name">
      <mat-option *ngFor="let floorOption of floorOptions" [value]="floorOption" [disabled]="floor_id.invalid">
        {{floorOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please select Office">
    <mat-label>Office</mat-label>
    <mat-select type="office_name" placeholder="Office" formControlName="office_name">
      <mat-option *ngFor="let officeOption of officeOptions" [value]="officeOption" [disabled]="floor_name.invalid">
        {{officeOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please select Desk">
    <mat-label>Desk</mat-label>
    <mat-select type="desk_id" placeholder="Desk" formControlName="desk_id">
      <mat-option *ngFor="let deskOption of deskOptions" [value]="deskOption" [disabled]="office_name.invalid">
        {{deskOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  

  <div class="example-button-row" style="margin:5px">
    <button mat-raised-button color="primary" [disabled]="form.invalid">Save</button> | <a (click)="closeDeskPop()" mat-raised-button
      color="accent">Close</a>
  </div>
</form>