<h3 align="center">{{title}}</h3>

<form class="form" [formGroup]="form" (ngSubmit)="saveUserData()">

    <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please Enter ID">
        <mat-label>Employee ID</mat-label>
        <input matInput formControlName="employee_id" >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please Enter Name">
        <mat-label>Employee Name</mat-label>
        <input matInput formControlName="employee_name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please select Position">
        <mat-label>Position</mat-label>
        <mat-select type="text" placeholder="Position" formControlName="position">
          <mat-option *ngFor="let positionOption of PositionOptions" [value]="positionOption">
            {{positionOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="bookingDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> 
    </mat-form-field>

    <div class="example-button-row" style="margin:5px">
        <button mat-raised-button color="primary" >Login</button> | <a (click)="closeUserPop()" mat-raised-button
            color="warn">Close</a>
    </div>
</form>