<h3 align="center">{{title}}</h3>

<form class="form" [formGroup]="form" (ngSubmit)="saveUserData()" >

    <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please Enter ID">
        <mat-label>Employee ID</mat-label>
        <input matInput formControlName="employee_id" >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please Enter Name">
        <mat-label>Employee Name</mat-label>
        <input matInput formControlName="employee_name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" matTooltip="Please select Position">
        <mat-label>Position</mat-label>
        <mat-select type="text" placeholder="Position" formControlName="position">
          <mat-option *ngFor="let positionOption of PositionOptions" [value]="positionOption">
            {{positionOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <div class="example-full-width" appearance="fill" matTooltip="Please select Date and Time">
        <ejs-datetimepicker 
          formControlName="bookingDate"
          placeholder="Choose a date and time"
          [value]="dateValue"
          [min]="minDate"
          [max]="maxDate"
          [enableMask]="true"
          format="dd-MMM-yy hh:mm">
        </ejs-datetimepicker>
    </div>

    <div class="example-button-row" style="margin:5px">
        <button mat-raised-button color="primary" >Login</button> | <a (click)="closeUserPop()" mat-raised-button
            color="warn">Close</a>
    </div>
</form>