/* .wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
}

.wrapper div{
    margin-top: 1-rem;
} */

.mat-form-field{
display: block;
width: 350px;
height: 30px;
font-size: 1rem;
}

.mat-form-field{
    width: 48%;
    padding: 1%;
  }
  .form-control{
    width: 150px;
    border-radius: 8px;
    padding: 5px;
  }
  
  td{
    padding: 3px;
    border: 1px solid gray;
  }