<h3 align="center">{{title}}</h3>

<app-registration  (formSubmit)="onFormSubmit($event)" [hidden]="true"></app-registration>


<form id="desk-form" [formGroup]="form">

  <mat-form-field class="form-full-width" appearance="fill" [hidden]="true"> 
    <input matInput formControlName="id">
  </mat-form-field>

  <mat-form-field class="form-full-width" appearance="fill" matTooltip="Please select Building">
    <div><fa-icon [icon]="faBuilding"></fa-icon></div>
    <div> <mat-label>Building</mat-label></div>
    <mat-select type="building_name" placeholder="Building" formControlName="building_name">
      <mat-option *ngFor="let buildingOption of buildingOptions" [value]="buildingOption">
        {{buildingOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-full-width" appearance="fill" matTooltip="Please select Floor">
    <div><fa-icon [icon]="faBuilding"></fa-icon></div>
    <div><mat-label>Floor</mat-label></div>
    <mat-select type="floor_name" placeholder="Floor" formControlName="floor_name">
      <mat-option *ngFor="let floorOption of floorOptions" [value]="floorOption">
        {{floorOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-full-width" appearance="fill" matTooltip="Please select Office">
    <div><fa-icon [icon]="faMapMarker"></fa-icon></div>
    <div><mat-label>Office</mat-label></div>
    <mat-select type="office_name" placeholder="Office" formControlName="office_name">
      <mat-option *ngFor="let officeOption of officeOptions" [value]="officeOption" [disabled]="floor_name.invalid">
        {{officeOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-full-width" appearance="fill" matTooltip="Please select Desk">
    <div><fa-icon [icon]="faDesktop"></fa-icon> </div>
    <div> <mat-label>Desk</mat-label></div>
    <mat-select type="desk_id" placeholder="Desk" formControlName="desk_id">
      <mat-option *ngFor="let deskOption of deskOptions" [value]="deskOption" [disabled]="office_name.invalid">
        {{deskOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div type="ejs-datetimepicker" class="form-full-width" appearance="fill" matTooltip="Please select Date and Time">
    <ejs-datetimepicker formControlName="bookingDate"  placeholder="Choose a Date and Time" [format]="dateTimePickerModule">
    </ejs-datetimepicker>
  </div>

  <div id="form-button-row">
    <button mat-raised-button color="primary" class="form-action-button" (click)="saveDeskData()">Save</button>
    <button mat-raised-button color="accent" class="form-action-button" [disabled]="false"
      (click)="closeDeskPop()">Close</button>
  </div>
</form>